hr
	background-color: #c5c5c5
.columns
	.field
		padding: 0.5rem
.modal
	transition: 0.3s ease
	i
		color: white
		font-size: 2.5rem
		margin-bottom: 0.75rem
	.loading
		color: white
		font-size: 1.25rem
		font-weight: 300
.modal.is-no-visible
	opacity: 0
