.question
	transition: 0.1s ease
	padding: 1rem
	border-left: 3px solid rgba(0,0,0,0)
	.head
		h3
			font-size: 1.75rem
		span
			font-size: 0.9rem
			color: #363636
	input:checked
		+ .field
			background: rgba(0,0,0,0.5)
.question:hover
	border-left: 3px solid rgba(0,0,0,0.5)
	background-color: rgba(255,255,255,0.3)
