<!-- NAME -->
<section class="hero is-light is-bold is-fullheight">
	<div class="hero-body" *ngIf="!storedUsername">
		<div class="container has-text-centered">
			<h1 class="title" style="margin-bottom: 3rem">
				{{ survey ? survey.title : 'Please wait few times.'}}
			</h1>
			<form [formGroup]="formGroup">
				<div class="columns">
					<div *ngIf="username" class="field column is-4 is-offset-one-third is-gapless">
						<div class="control has-icons-left">
							<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
							<input class="input"
									 [class.is-success]="username.dirty && username.valid"
									 [class.is-danger]="username.dirty && username.invalid" placeholder="username" formControlName="username">
						</div>
						<p class="help is-danger" *ngIf="username.dirty && username.hasError('required')">Please input this field</p>
						<p class="help is-danger" *ngIf="username.dirty && username.hasError('usernameAvailableRule')">You've already joined.</p>
						<p class="help is-danger" *ngIf="username.dirty && username.hasError('invalidHttpRequestRule')">server is too busy. please wait few seconds.</p>
						<p class="help is-success" *ngIf="username.dirty && username.valid">This username is available.</p>
					</div>
				</div>
				<div class="columns">
					<div class="field column is-4 is-offset-one-third is-gapless">
						<div class="control has-icons-left">
							<button class="button is-primary is-fullwidth" [disabled]="!formGroup.valid" (click)="startSurvey()">Start survey</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="hero-body" *ngIf="storedUsername && questions">
		<div class="container">
			<div class="columns">
				<div class="column is-8-desktop is-offset-2-desktop">
					<h1 class="title">{{survey.title}}</h1>
					<h2 class="subtitle">
						{{ survey.description }} - {{ storedUsername }}
					</h2>

					<hr style="background-color: #c5c5c5">

					<app-join-question *ngFor="let question of questions; let i = index" [question]="question" [group]="i"></app-join-question>

					<button class="button is-primary is-fullwidth" style="margin-top: 1rem" (click)="finished()">Finish</button>
				</div>
			</div>

		</div>
	</div>
</section>



<!-- MODAL -->
<div class="modal" [class.is-no-visible]="survey" [class.is-active]="visibleLoading">
	<div class="modal-background"></div>
	<div class="modal-content has-text-centered">
		<div *ngIf="error; else error_page">
			<div>
				<i class="fa fa-circle-o-notch fa-spin"></i>
			</div>
			<div class="loading">
				loading...
			</div>
		</div>
		<ng-template #error_page>
			<div>
				<i class="fa fa fa-question"></i>
			</div>
			<div class="loading">
				No survey found.
			</div>
		</ng-template>
	</div>
</div>
