@import "../../../../node_modules/bulma/sass/utilities/initial-variables"

.survey-item
	.box
		position: relative
		margin-bottom: 0
		overflow: hidden
		height: 300px
	.people-count
		font-size: 2rem
	.hero-foot
		transition: 0.3s ease
		margin-bottom: 0rem
	.survey-button
		transition: 0.3s ease
		position: absolute
		bottom: -4rem
		left: 0
		right: 0
		.columns
			height: 4rem
			.column
				border: 0
				height: 100%
				line-height: 4rem
				border-radius: 0
				.icon
					margin-right: -0.35rem
		.column.is-dark
			background: rgba($grey-dark, 0.05)
		.column.is-danger
			background: rgba($red, 0.05)
		.column.is-info
			background: rgba($blue, 0.05)
		.column:active
			*
				font-weight: bold
		.column:focus
			box-shadow: 0 0 0


.survey-item:hover
	.box
		background-color: $white-bis
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.15), 0 0 0 1px rgba(10, 10, 10, 0.15)
	.survey-button
		bottom: 0
	.hero-foot
		margin-bottom: 4rem

.survey-item
	.section
		padding: 1rem
	.subtitle
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
		overflow: hidden
		text-overflow: ellipsis

// Box Header Styles
.hero-head
	h1
		margin-bottom: 2rem
.hero-head:hover
	span
		border-bottom: 1px solid rgba(0,0,0,0.3)
.hero-head:active
	span
		color: $turquoise
		border-bottom: 1px solid opacify($turquoise, 0.3)
