<div class="survey-item"> <!-- hover -->
	<div class="box section hero">
		<a class="hero-head" (click)="detail()">
			<h1 class="title"><span>{{ survey.title }}</span></h1>
			<h2 class="subtitle">
				<span>{{ survey.description }}</span>
			</h2>
		</a>

		<div class="hero-foot">
			<span class="people-count">86</span> <span>people surveyed</span>
		</div>

		<div class="survey-button">
			<div class="columns is-gapless has-text-centered is-flex-mobile">
				<button class="column button is-dark is-inverted" (click)="copy(survey.$key)">
					<span class="icon is-small">
						<i class="fa fa-external-link"></i>
					</span>
					<span>link</span>
				</button>
				<button class="column button is-info is-inverted" (click)="update()">
					<span class="icon is-small">
						<i class="fa fa-pencil"></i>
					</span>
					<span>update</span>
				</button>
				<button class="column button is-danger is-inverted" (click)="remove()">
					<span class="icon is-small">
						<i class="fa fa-remove"></i>
					</span>
					<span>remove</span>
				</button>
			</div>
		</div>
	</div>
</div>
