<section class="hero is-bold is-dark is-fullheight" style="overflow-y: hidden">
	<!-- Hero header: will stick at the top -->
	<div class="hero-head">
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container is-fluid ">
			<div class="columns">
				<div class="column"></div>
				<div class="column is-4 is-4-desktop is-8-tablet is-full-mobile">
					<div class="box">
						<h1 class="title is-1 has-text-centered" style="color: #363636">Login</h1>
						<form [formGroup]="loginForm">
							<div class="field">
								<label class="label">Email</label>
								<p class="control has-icons-left has-icons-right">
									<input class="input" [class.is-success]="email.valid && email.dirty"
											 [class.is-danger]="email.invalid && email.dirty" placeholder="user@email.com"
											 formControlName="email">
									<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
								</p>
								<div *ngIf="email.dirty">
									<p class="help is-success" *ngIf="email.valid">This email is available</p>
									<p class="help is-danger" *ngIf="email.invalid">This email is invalid</p>
								</div>
							</div>

							<div class="field">
								<label class="label">Password</label>
								<p class="control has-icons-left has-icons-right">
									<input class="input" [class.is-success]="password.valid && password.dirty"
											 [class.is-danger]="password.invalid && password.dirty" type="password"
											 placeholder="password" formControlName="password">
									<span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
								</p>
								<div *ngIf="password.dirty">
									<p class="help is-success" *ngIf="password.valid">This password is available</p>
									<p class="help is-danger" *ngIf="password.invalid">This password is invalid, minimum length
										is 8.</p>
								</div>
							</div>
							<div class="field">
								<p class="control">
									<button class="button is-primary is-fullwidth" (click)="submit()">submit</button>
								</p>
							</div>
						</form>
					</div>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>

	<!-- Hero footer: will stick at the bottom -->
	<div class="hero-foot">
	</div>
</section>
