<div class="container" style="padding: 1rem;">
	<div style="padding: 1.5rem 0;">
		<h1 class="title">Create Survey</h1>
		<hr>
	</div>

	<form [formGroup]="surveyForm">

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Title</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<input class="input" placeholder="e.g. Sample Survey" formControlName="title"
									[class.is-danger]="title.dirty && title.invalid"
									[class.is-success]="title.dirty && title.valid">
					</div>
					<p class="help is-danger" *ngIf="title.dirty && title.hasError('required')"> This field is required </p>
					<p class="help is-success" *ngIf="title.dirty && title.valid"> This title is available</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Description</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<textarea class="textarea" placeholder="What is the survey about?" formControlName="description"></textarea>
					</div>
					<p class="help is-primary" *ngIf="description.value == ''">It is recommended that you write a description of the survey.</p>
				</div>
			</div>
		</div>


		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Questions</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div formArrayName="questions" [dragulaModel]="questions.controls" [dragula]="'question-bag'">
						<div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i">
							<app-survey-question [questionForm]="question" (close)="removeQuestion(i)"></app-survey-question>
						</div>
					</div>
					<button class="button is-fullwidth" (click)="newQuestion()">Add question</button>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label"></div>
			<div class="field-body">
				<button class="button is-primary is-fullwidth" (click)="save()">Save</button>
			</div>
		</div>

	</form>

</div>
