<section class="hero is-light is-bold is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="columns">
				<div class="column">
					<i class="fa fa-cog fa-spin fa-fw" style="font-size: 65px;"></i>
					<h1 class="title">
						Connecting
					</h1>
					<h2 class="subtitle">
						please wait few seconds.
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
