<nav class="nav has-shadow">
	<div class="container">
		<div class="nav-left">
			<a id="title" class="nav-item is-bold" (click)="home()">
				<img src="../../assets/check.png">
				<span>Survey System</span>
			</a>
		</div>
		<input type="checkbox" id="menu-toggle" class="is-hidden">
		<label for="menu-toggle" class="nav-toggle"><span></span><span></span><span></span></label>
		<div class="nav-right nav-menu">
			<a id="user-email" class="nav-item">
				<figure class="image is-16x16">
					<img src="http://bulma.io/images/jgthms.png">
				</figure>
				admin@gmail.com
			</a>
			<a class="nav-item is-tab" (click)="logout()">Logout</a>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>
