<div id="add-survey" class="box hero has-text-centered">
	<div class="hero-body">
		<i class="fa fa-plus" style="font-size: 5rem; margin: 1rem"></i>
	</div>
	<div class="hero-foot">
		<hr>
		<h3>Add new your survey.</h3>
	</div>
</div>
