@import "../../../../node_modules/bulma/sass/utilities/initial-variables"

#add-survey
	height: 300px
	hr
		margin: 1rem
	i
		font-size: 5rem
		margin: 1rem

#add-survey:hover
	background-color: $white-bis
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.15), 0 0 0 1px rgba(10, 10, 10, 0.15)

#add-survey:active
	i
		color: $turquoise
