<div class="container" style="padding: 1rem;">
	<div style="padding: 1.5rem 0;">
		<h1 class="title">Hello, admin!</h1>
		<h2 class="subtitle">
			below is your surveys. i want to you have a nice day!
		</h2>
		<hr>
	</div>
	<div id="surveys" class="columns is-multiline">


		<app-survey-item-add (click)="newSurvey()" class="column is-3-desktop  is-4-tablet"></app-survey-item-add>

		<app-survey-item class="column is-3-desktop is-4-tablet"
							  *ngFor="let survey of surveys" [survey]="survey"></app-survey-item>
	</div>
</div>
