@import '../node_modules/bulma/bulma'
@import '../node_modules/angular2-toaster/toaster.css'
@import '../node_modules/dragula/dist/dragula.min.css'
// Toaster Container Custom Setting
#toast-container > div
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

html
	overflow-y: auto


.fa-drag-handle:before
	content: "\f142 \f142"
	letter-spacing: -0.05em
