<section class="section">
	<div class="container">
		<h1 class="title">Section</h1>
		<h2 class="subtitle">
			A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
		</h2>
		<div class="tabs">
			<ul>
				<li *ngFor="let tab of tabs"><a>{{tab.name}}</a></li>
				<!--<li class="is-active"><a>Details</a></li>-->
			</ul>
		</div>
		<router-outlet></router-outlet>
	</div>
</section>
