@import "../../../../../node_modules/bulma/sass/utilities/initial-variables"

.card
	position: relative
	margin-bottom: 1rem
	overflow: hidden
	.field
		margin-bottom: 0.75rem
		margin-right: 0
	.field:last-child
		margin-bottom: 0rem
	.card-header-title
		p
			width: 100%
	.card-header-icon
		color: $orange
		position: absolute
		right: 0
	.question-button
		position: absolute
		top: 0rem
		right: 0
		.button
			border-radius: 0
			padding: 1rem 2rem

.card:hover
	.question-button
		top: 0
		.button



