<div class="card">
	<form [formGroup]="questionForm">

		<div class="card-content">
			<div class="field">
				<label class="label">Content</label>
				<p class="control has-icons-left has-icons-right">
					<input class="input is-danger" placeholder="Text input" formControlName="content"
							 [ngClass]="{'is-danger': content.dirty && content.hasError('required'), 'is-success': content.valid}">
					<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
				</p>
				<p class="help is-success" *ngIf="content.valid">This content is available</p>
				<p class="help is-danger" *ngIf="content.dirty && content.hasError('required')">This content is not available</p>
			</div>

			<div class="field">
				<label class="label">Types</label>
				<p class="control">
					<span class="select">
						<select [formControl]="type" (change)="cleanOptions()">
							<option [value]="types.YES_NO">yes / no</option>
							<option [value]="types.SINGLE">only one</option>
							<option [value]="types.MULTIPLE">multiple</option>
						</select>
					</span>
				</p>
			</div>
			<div class="field">
				<label class="label">Options</label>
			</div>

			<div *ngIf="type.value == 0; else multi_options">

				<div class="field">
					<app-option-item *ngFor="let label of ['Yes', 'No']; let i = index" class="field has-addons"
										  [index]="i"
										  [label]="label"
										  [option]="options.controls[i]"
										  (remove)="removeOption($event)">
					</app-option-item>
				</div>

			</div>

			<ng-template #multi_options>
				<div class="field" [dragula]="'options-bag'" [dragulaModel]="options.controls">
					<app-option-item class="field has-addons" *ngFor="let option of options.controls; let i = index"
										  [index]="i"
										  [option]="option"
										  [enableRemove]="false"
										  (remove)="removeOption(i)"></app-option-item>
				</div>
				<div class="field">
					<div class="control">
						<a class="button is-fullwidth" (click)="newOption()">Add option</a>
					</div>
				</div>
			</ng-template>
		</div>

		<div class="question-button">
			<div class="columns is-gapless has-text-centered is-flex-mobile">
				<div class="column drag-button">
					<a class="button is-info drag-button">
						<span class="icon is-small drag-button">
							<i class="fa fa-drag-handle drag-button"></i>
						</span>
					</a>
				</div>
				<div class="column">
					<a class="button is-danger" (click)="close.emit()">
						<span class="icon is-small">
							<i class="fa fa-remove"></i>
						</span>
					</a>
				</div>
			</div>
		</div>

	</form>
</div>
